COOKIE_DOMAIN=.partner.fractera.local
COOKIE_SECURE=false
NEXTAUTH_URL=http://auth.partner.fractera.local:3001
NEXTAUTH_SECRET=replace-with-32-byte-base64
DATABASE_URL=file:./data/auth.db
ARCHITECT_TOKEN=
ALLOWED_ORIGINS=http://partner.fractera.local:3000,http://admin.partner.fractera.local:3002,http://data.partner.fractera.local:3300
