# URL к auth-сервису (внутренний, localhost)
AUTH_SERVICE_URL=http://localhost:3001

# URL Bridges WebSocket-сервера (для браузера)
NEXT_PUBLIC_BRIDGE_URL=ws://admin.partner.fractera.local:3200
NEXT_PUBLIC_PTY_URL=ws://admin.partner.fractera.local:3201

# URL auth-сервиса (для браузера, редиректы)
NEXT_PUBLIC_AUTH_URL=http://auth.partner.fractera.local:3001
